* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

header, .bottom-footer {
    background-color: #2c3e50;
}

.content-big {
    height: 400px;
    margin: 20px 0px;
    background-color: azure;
}

.jambotron {
    background-color: rgb(26, 188, 156);
}

ul li {
    list-style-type: none;
    display: inline-block;
    color: white;
}

.content-title, .cards, .contact {
    margin: 20px 0px;
}

/* .content-card {
    background-color: green;
    height: 300px;
} */


.img-card {
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.back-aqua {
    background-color: rgb(26, 188, 156);
    /* height: 500px; */
}

footer {
    background-color: rgba(58,84,109,255);
    /* margin-top: 20px 0px; */
}

/* regole di stile */

.top-footer {
    margin: 20px 0px;
}

.text-center {
    text-align: center;
}
.pad-top-5 {
    padding-top: 5%;
}
.pad-bottom-5 {
    padding-bottom: 5%;
}

.pad-20 {
    padding: 20px;
}
.color-white {
    color: white;
}

.back-transparent {
    background-color: transparent;

}

.border-rad-white {
    border: 1px solid white;
    border-radius: 10%;
}





.back-blue {
    background-color: blue;
}

.back-yellow {
    background-color: yellow;
}
.back-red {
    background-color: red;
}

.back-fiord {
    background-color: rgba(58,84,109,255);
}

.back-white {
    background-color: white;  
}

.back-purple {
    background-color: purple;
    height: 300px;
    border: 1px solid black;
}
.back-l-purple {
    background-color: rgb(190, 9, 190);
    height: 300px;
}
.back-orange {
    background-color: orange;
    height: 50px;
}

.flex-end {
   display: flex;
   justify-content: flex-end;
}

/* .flex-center {
  display: flex;
  justify-content: center;
} */




