* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.back-blue {
    background-color: blue;
}

.back-yellow {
    background-color: yellow;
}
.back-red {
    background-color: red;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

.back-aqua {
    background-color: aqua;
    height: 400px;
}
.back-white {
    background-color: white;  
}
.back-green {
    background-color: green;
    height: 200px;
   
}
